<form action="/dashboard/addStation" method="POST">
  <div class="field is-horizontal">
    <div class="field-body has-text-centered">
      <div class="field">
        <label class="label mt-5">Station Name</label>
        <input class="input" type="text" placeholder="Enter station name" name="name">
      </div>
      <div class="field">
        <label class="label mt-5">Latitude</label>
        <input class="input" type="text" placeholder="00.00" name="latitude">
      </div>
      <div class="field">
        <label class="label mt-5">Longitude</label>
        <input class="input" type="text" placeholder="00.00" name="longitude">
      </div>
    </div>
  </div>  
  <button class="button is-outlined is-info is-rounded">Add Station</button>
</form>