<form action="/dashboard/addStation" method="POST">

  <div class="columns is-vcentered mb-0 mt-6">
    <div class="column is-1 has-text-centered mt-1">
      {{>icons/error}}
    </div>
    <div class="column has-text-danger">
      ERROR! Invalid details entered
    </div>
  </div>
  <div class="field is-horizontal mt-1">
    <div class="field-body has-text-centered is-vcentered">
      <div class="field">
        <div class="columns">
          <div class="column">
            <label class="label mt-5">Station Name</label>
          </div>
          <div class="column is-1"></div>
        </div>
        <input class="input" type="text" placeholder="Enter station name" name="name">
      </div>
      <div class="field pt-0">
        <div class="columns mb-2">
          <div class="column has-text-right">
            <label class="label mt-5">Station Country Code</label>
          </div>
          <div class="column is-5 has-text-left pt-5">
            <a href="/countryCodeInfo" class="button is-light">{{>icons/info}}</a>
          </div>

        </div>
        <input class="input" type="text" placeholder="Enter station country code" name="countryCode">
      </div>
    </div>
  </div>  
  <button class="button is-outlined is-info is-rounded">Add Station</button>
</form>