<form class="px-4">
  <div class="columns">
    <div class="column">
      <a class="button is-fullwidth is-outlined is-rounded is-danger mt-5" href="/dashboard">Cancel</a>
    </div>
    <div class="column">
      <a href="/deleteuser" class="button is-fullwidth is-rounded is-danger mt-5">
        <div class="columns is-vcentered">
          <div class="column">
            Delete User
          </div>
          <div class="column mt-2">
            {{>icons/delete}}
          </div>
        </div>
      </a>
    </div>
  </div>
</form>