
  
    <div class="column">
      <div class="box has-background-black">
        <div class="columns">
          <div class="column is-size-4 has-text-white has-text-weight-bold">
            Weather
          </div>
          <div class="column">
            {{>icons/location}}
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="box has-background-black">
        <div class="columns">
          <div class="column is-size-4 has-text-white has-text-weight-bold">
            Temp
          </div>
          <div class="column">
            {{>icons/location}}
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="box has-background-black">
        <div class="columns">
          <div class="column is-size-4 has-text-white has-text-weight-bold">
            Wind
          </div>
          <div class="column">
            {{>icons/wind}}
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="box has-background-black">
        <div class="columns">
          <div class="column is-size-4 has-text-white has-text-weight-bold">
            Pressure
          </div>
          <div class="column">
            {{>icons/pressure}}
          </div>
        </div>
      </div>
    </div>
