
<form class="box pt-0" action="/user/{{userid}}/update" method="POST">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label mt-5">First Name</label>
        <input class="input" type="text" placeholder="First Name" name="firstName" value="{{firstName}}">
      </div>
      <div class="field">
        <label class="label mt-5">Last Name</label>
        <input class="input" type="text" placeholder="Last Name" name="lastName" value="{{lastName}}">
      </div>
      <div class="field">
        <label class="label mt-5">Email</label>
        <input class="input" type="text" placeholder="Email" name="email" value="{{email}}">
      </div>
    </div>
  </div>
  <button id="update" href=""class="button is-fullwidth is-outlined is-rounded is-info mt-6">Update User</button>
</form>