<div class="section">
  <div class="columns">
    <div class="column is-offset-one-quarter is-one-third title is-size-4">First Name</div>
    <div class="column">
      {{!-- Disable to just show the stored data --}}
      <button class="button" title="Disabled button" disabled>{{firstName}}</button>
    </div>
  </div>
  <div class="columns">
    <div class="column is-offset-one-quarter is-one-third title is-size-4">Last Name</div>
    <div class="column">
      <button class="button" title="Disabled button" disabled>{{lastName}}</button>
    </div>
  </div>
  <div class="columns">
    <div class="column is-offset-one-quarter is-one-third title is-size-4">Email Address</div>
    <div class="column">
      <button class="button" title="Disabled button" disabled>{{email}}</button>
    </div>
  </div>
  <div class="columns">
    <div class="column is-offset-one-quarter is-one-third title is-size-4">Password</div>
    <div class="column">
      <button class="button" title="Disabled button" disabled>{{password}}</button>
    </div>
  </div>
</div>