<!DOCTYPE html>
<html lang="en-IE">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <link rel="icon" href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxLjJlbSIgaGVpZ2h0PSIxLjJlbSIgdmlld0JveD0iMCAwIDU2IDU2Ij48cGF0aCBmaWxsPSJibGFjayIgZD0iTTQ2LjQzNCAxOC44NThMNDAuNjMgMzguNzUxYy0uNjg5IDIuMzYtMy4yMzUgMi42NjctNC40NzMuNTVsLTYuMzUtMTAuODZsLTUuNTQ2IDguNTc2Yy0xLjE4NyAxLjgzNC0zLjU0NyAxLjg0NS00Ljc0Ni4wMTZsLTIuNTMyLTMuODY1bC0xLjE2IDEuMTg5Yy0xLjIxOCAxLjI1LTMuMjkgMS41MDktNC43ODIuNmwtMi45Ni0xLjhDMTAuMzY3IDQyLjAyMSAxOC40MTggNDguNTcgMjggNDguNTdjMTEuMzYxIDAgMjAuNTcxLTkuMjEgMjAuNTcxLTIwLjU3MWMwLTMuMjg0LS43NjktNi4zODgtMi4xMzctOS4xNDJtLTIuNDU4LTMuODE4QzQwLjIwNSAxMC4zOTYgMzQuNDUgNy40MjkgMjggNy40MjlDMTYuNjM5IDcuNDI5IDcuNDI5IDE2LjYzOSA3LjQyOSAyOHEwIC4zNzkuMDEzLjc1NWw1LjM4MSAzLjI3NGMuMTMuMDc5LjQ0My4wNC41NDYtLjA2NmwxLjQ1NS0xLjQ5MWMxLjQyNi0xLjQ2MyAzLjY3Ni0xLjI0NSA0Ljc5Ni40NjRsMi4yNiAzLjQ0OWw1LjYyOS04LjcwNGMxLjIwOC0xLjg2OCAzLjU5NC0xLjgxNiA0LjcxOC4xMDZsNS43NDYgOS44Mjh6TTI4IDUyQzE0Ljc0NSA1MiA0IDQxLjI1NSA0IDI4UzE0Ljc0NSA0IDI4IDRzMjQgMTAuNzQ1IDI0IDI0cy0xMC43NDUgMjQtMjQgMjQiLz48L3N2Zz4=" sizes="32x32" type="image/svg+xml">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
  <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>
</head>

<body>
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>