{{> menu active="about"}}
<section class="section">
  <div class="box is-3 has-text-centered">
    <h3 class="title">
      WeatherTop
    </h3>
    <div class="section">
      <div class="box">
        Monitor latest weather station readings
      </div>
      <div class="box">
        WeatherTop Services Inc.
      </div>
      <div class="box is-size-3">
        {{>icons/location}}
        {{>icons/cloudy}}
        {{>icons/drizzle}}
        {{>icons/wind}}
        {{>icons/pressure}}
        {{>icons/snow}}
        {{>icons/sun}}
        {{>icons/temperature}}
        {{>icons/thunderstorm}}
        {{>icons/atmosphere}}
        {{>icons/rain}}
      </div>
    </div>
  </div>
</section>