{{> menu active="dashboard"}}

<section class="section">
  <div class="box m-0">
    <div class="title is-uppercase" style="text-align: center;">
      Stations
    </div>
  </div>
  {{> list-stations}}
  {{> add-station-error}}
</section>