{{> welcome-menu active="login"}}

<section class="section">
  <h1 class="title">Log in</h1>
  <div class="columns is-vcentered">
    <div class="column is-1 has-text-centered">
      {{>icons/error}}
    </div>
    <div class="column has-text-danger">
      ERROR! Invalid details entered
    </div>
  </div>
  <form action="/authenticate" method="POST">
    <div class="field">
      <label class="label">Email</label> <input class="input" type="text" placeholder="Enter email" name="email">
    </div>
    <div class="field">
      <label class="label">Password</label> <input class="input" type="password" placeholder="Enter Password" name="password">
    </div>
    <div class="field is-grouped">
      <button class="button is-info is-rounded is-centered">Submit</button>
    </div>
  </form>
</section>

