{{> welcome-menu active="signup"}}

<section class="section">
  <h1 class="title">Sign up</h1>
  <div class="columns is-vcentered">
    <div class="column is-1 has-text-centered">
      {{>icons/error}}
    </div>
    <div class="column has-text-danger">
      ERROR! Invalid details entered
    </div>
  </div>
  <form action="/register" method="POST">
    <label class="label">Name</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input" type="text" placeholder="Enter first name" name="firstName">
        </div>
        <div class="field">
          <input class="input" type="text" placeholder="Enter last name" name="lastName">
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label> <input class="input" type="text" placeholder="Enter email" name="email">
    </div>
    <div class="field">
      <label class="label">Password</label> <input class="input" type="password" placeholder="Enter Password" name="password">
    </div>
    <div class="field is-grouped">
      <button class="button is-info is-rounded">Register</button>
    </div>
  </form>
</section>

