{{> menu active="user"}}

<section class="section">
  <div class="title has-text-centered">
    User Account
  </div>
  {{>user-account}}
  <div class="box title  is-5 has-text-centered">Update Details:</div>
  {{>user-update}}
</section>

