{{> menu active="user"}}

<section class="section">
  <div class="title has-text-centered">
    User Account
  </div>
  {{>user-account}}
  <div class="box title  is-5 has-text-centered">Update Details:</div>
  <div class="columns is-vcentered mb-0">
    <div class="column is-1 has-text-centered mt-1">
      {{>icons/success}}
    </div>
    <div class="column has-text-success">
      User Updated Successfully
    </div>
  </div>
  {{>user-update}}
  {{>cancel-delete-user}}
</section>
